{
	debug
	auto_https off
}

http://:8080 {
	encode zstd gzip
	root * /app
	file_server
	route {
		reverse_proxy /api/* backend:3030
		reverse_proxy /oauth/* backend:3030
		try_files {path} {path}/ /index.html?{query}
		file_server
	}
}
